<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-New_configuration"/>
<stringAttribute key="configLocation" value=""/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="product" value="org.eclipse.sdk.ide"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="clearConfig" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="usefeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
</launchConfiguration>
