<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pldoctoolkit.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="DocLineRCP.application"
            name="DocLineRCP">
         <property
               name="appName"
               value="DocLineRCP">
         </property>
         <property
               name="aboutText"
               value="DocLine project was started in 2004 on the Software Engineering Chair of the Faculty of Mathematics and Mechanics of Saint-Petersburg State University.&#x0A;The goal of DocLine project is to provide a method for developemnt and maintenance of electronic documentation packages having multiple commonalities.&#x0A;&#x0A;Web-sites: &#x0A;http://www.math.spbu.ru/user/kromanovsky/docline/&#x0A;http://code.google.com/p/pldoctoolkit/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="PlDocToolkit.NavigatorView"
            name="PLDNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="pldoctoolkit.NavigatorRoot"
            id="PlDocToolkit.NavigatorRoot">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="PlDocToolkit.NavigatorView">
      </viewer>
      <viewerContentBinding
            viewerId="PlDocToolkit.NavigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="net.videodb.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="PlDocToolkit.NavigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.resources.PropertiesActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="commands.ShowNavigatorHandler"
            id="PlDocToolkit.ShowNavigator"
            name="Navigator">
      </command>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="PlDocToolkit.application"
            name="DocLine Toolkit">
         <property
               name="appName"
               value="DocLine Toolkit">
         </property>
      </product>
   </extension>
   <extension
         id="PlDocToolkit"
         point="org.eclipse.core.runtime.products">
      <product
            application="PlDocToolkit.application"
            name="DocLine Toolkit">
         <property
               name="appName"
               value="DocLine Toolkit">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="PlDocToolkit.application"
            name="DocLine Toolkit">
         <property
               name="appName"
               value="DocLine Toolkit">
         </property>
      </product>
   </extension>

</plugin>
