<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://math.spbu.ru/drl" 
       class = "org.spbu.pldoctoolkit.graph.DrlPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="drl" 
       class="org.spbu.pldoctoolkit.graph.util.DrlResourceFactoryImpl" />
  </extension>

</plugin>

