<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="infproduct_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="infproduct_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DrlDiagramFile.gif"
         extensions="infproduct_diagram"
         default="true"
         class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditor"
         matchingStrategy="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelMatchingStrategy"
         contributorClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DrlDiagramFile.gif"
  	     category="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizardID"
  	     class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizard"
  	     id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.CreateShortcut"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.DocumentationCoreEditPart">
         <action
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreateShortcutAction"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.CreateShortcutAction"
               label="%createShortcutActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.LoadResource"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.DocumentationCoreEditPart">
         <action
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelLoadResourceAction"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>     
      
		<objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFile.InfProduct"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfProductEditPart">
			
			<action
				class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlOpenElementFileAction" 
				enablesFor="1"
				id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFileAction"
				label="%openElementFileActionLabel"
				menubarPath="additions">
			</action>
		</objectContribution>   
		<objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFile.InfElement"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElementEditPart">
			
			<action
				class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlOpenElementFileAction" 
				enablesFor="1"
				id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFileAction"
				label="%openElementFileActionLabel"
				menubarPath="additions">
			</action>
		</objectContribution>  	
		<objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFile.DocumentationCore"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.DocumentationCoreEditPart">
			
			<action
				class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlOpenElementFileAction" 
				enablesFor="1"
				id="org.spbu.pldoctoolkit.graph.diagram.infproduct.OpenElementFileAction"
				label="%openElementFileActionLabel"
				menubarPath="additions">
			</action>
		</objectContribution>  			         
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="InfProductPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="InfProductPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="InfProductRender">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElementEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElementNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfProductEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfProductNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefGroupEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefIdEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.GenericDocumentPartGroupsEditPart"/>
            <popupAction path="/editGroup" id="deleteFromModelAction"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRef2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefId2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramPreferenceInitializer"/>
   </extension>


   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="InfProduct"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.DocumentationCore_79"
               name="%metatype.name.DocumentationCore_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DocumentationCore"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.DocumentationCoreEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElement_1001"
               name="%metatype.name.InfElement_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElement"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElementEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfProduct_1002"
               name="%metatype.name.InfProduct_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfProduct"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfProductEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroup_1003"
               name="%metatype.name.InfElemRefGroup_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElemRefGroup"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefGroupEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3001"
               name="%metatype.name.InfElemRef_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElemRef"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <specializationType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.GenericDocumentPartGroups_3002"
               name="%metatype.name.GenericDocumentPartGroups_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.GenericDocumentPartGroupsEditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <specializationType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3003"
               name="%metatype.name.InfElemRef_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefEditHelperAdvice">
            <specializes id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3001"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="InfProductClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.spbu.pldoctoolkit.graph.diagram.infproduct.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="InfProductClientContext">
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.DocumentationCore_79"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElement_1001"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfProduct_1002"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroup_1003"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3001"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.GenericDocumentPartGroups_3002"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension><extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider checkPluginLoaded="true"
         class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelValidationProvider">
         <Priority name="Low"/>
         <partContribution id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelMarkerNavigationProvider">
         <MarkerType name="org.spbu.pldoctoolkit.graph.diagram.infproduct.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>
<extension id="diagnostic" name="InfProduct Diagram Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension><extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InitDiagram"
            nameFilter="*.drl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
<extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.general"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.appearance"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.appearance"
            category="org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.connections"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.connections"
            category="org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.printing"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.printing"
            category="org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.rulersAndGrid"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.rulersAndGrid"
            category="org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="org.spbu.pldoctoolkit.graph.diagram.pathmaps"
            name="%preference.page.title.org.spbu.pldoctoolkit.graph.diagram.pathmaps"
            category="org.spbu.pldoctoolkit.graph.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>
<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor contributorId="org.spbu.pldoctoolkit.graph.diagram.infproduct" labelProvider="org.spbu.pldoctoolkit.graph.diagram.infproduct.sheet.DrlModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>
<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.spbu.pldoctoolkit.graph.diagram.infproduct">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>
<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.spbu.pldoctoolkit.graph.diagram.infproduct">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.sheet.DrlModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.spbu.pldoctoolkit.graph.diagram.infproduct.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.spbu.pldoctoolkit.graph.diagram.infproduct"
           properties="isURIEditorInput"
           class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelUriEditorInputTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.spbu.pldoctoolkit.graph.diagram.infproduct.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.spbu.pldoctoolkit.graph.diagram.infproduct"
           properties="isShortcut"
           class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelShortcutPropertyTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.spbu.pldoctoolkit.graph.diagram.infproduct.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="org.spbu.pldoctoolkit.graph.diagram.infproduct"
           properties="isDomainModelElement"
           class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDomainModelElementTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.spbu.pldoctoolkit.graph.diagram.infproduct.resourceContent"/>
			<contentExtension pattern="org.spbu.pldoctoolkit.graph.diagram.infproduct.domainResourceContent"/>
            <contentExtension pattern="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>
<extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelNavigatorContentProvider" 
            labelProvider="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelNavigatorLabelProvider"
            icon="icons/obj16/DrlDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="infproduct_diagram"/>
               </and>
               <instanceof value="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigatorSorter" 
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="infproduct_diagram"/>
                  </and>
                  <instanceof value="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelDomainNavigatorContentProvider" 
            labelProvider="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelDomainNavigatorLabelProvider"
            icon="icons/obj16/DrlDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="drl"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigatorActionProvider"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
<extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigatorLinkHelper"
            class="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.spbu.pldoctoolkit.graph.diagram.infproduct.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.spbu.pldoctoolkit.graph.diagram.infproduct.navigator.DrlModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>

</plugin>
