<tr class="{{ cssclass }} variative" data-groups="{{ desc }}" data-idx="{{ idx }}">
    <td style="text-align: center;" scope="row" class="fxd">{{ idx }}</td> <!-- IDESC: {{idesc}} -->
    {% if clgr|length %}
        <td style="text-align: center;">{{ clgr }}</td>
    {% endif %}

    {% if eptsl|length %}
        <td style="text-align: center;">{{ eptsl }}</td>
    {% endif %}

    <td class="tka"><tt>{{ text }}</tt></td>
    <td style="text-align: center;">
        <span class="d-inline-block" data-toggle="tooltip" title="Remove clone group from result"
              data-placement="auto">
            <button type="button" class="btn btn-danger remove_tr"><span> &#10005;</span></button>
        </span>
    </td>
</tr>
