<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="infproduct_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="infproduct_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DrlDiagramFile.gif"
         extensions="infproduct_diagram"
         default="true"
         class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditor"
         matchingStrategy="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelMatchingStrategy"
         contributorClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DrlDiagramFile.gif"
  	     category="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizardID"
  	     class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizard"
  	     id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.ui.objectContribution.IFile1"
            nameFilter="*.drl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelInitDiagramFileActionID">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.ui.objectContribution.DocumentationCoreEditPart1"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.DocumentationCoreEditPart">
         <action
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreateShortcutAction"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelCreateShortcutActionID"
               label="%createShortcutActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.spbu.pldoctoolkit.graph.diagram.infproduct.ui.objectContribution.DocumentationCoreEditPart2"
            objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.DocumentationCoreEditPart">
         <action
               class="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelLoadResourceAction"
               enablesFor="1"
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelLoadResourceActionID"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="DrlModelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="DrlModelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="DrlModelRender">
         <Priority name="Lowest"/>
         <ViewId id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefIdEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.GenericDocumentPartGroupsEditPart"/>
            <popupAction path="/editGroup" id="deleteFromModelAction"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.parts.InfElemRefGroupInfElemRefsGroupEditPart"/>
            <popupAction path="/editGroup" id="deleteFromModelAction"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.spbu.pldoctoolkit.graph.diagram.infproduct.preferences.DiagramPreferenceInitializer"/>
   </extension>


   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="DrlModel"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.DocumentationCore_79"
               name="%metatype.name.DocumentationCore_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DocumentationCore"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.DocumentationCoreEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElement_1001"
               name="%metatype.name.InfElement_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElement"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElementEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfProduct_1002"
               name="%metatype.name.InfProduct_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfProduct"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfProductEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroup_1003"
               name="%metatype.name.InfElemRefGroup_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElemRefGroup"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefGroupEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <metamodelType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3001"
               name="%metatype.name.InfElemRef_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InfElemRef"
               edithelper="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <specializationType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.GenericDocumentPartGroups_3002"
               name="%metatype.name.GenericDocumentPartGroups_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.GenericDocumentPartGroupsEditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tepkom.ru/drl">
         <specializationType
               id="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroupInfElemRefsGroup_3003"
               name="%metatype.name.InfElemRefGroupInfElemRefsGroup_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               edithelperadvice="org.spbu.pldoctoolkit.graph.diagram.infproduct.edit.helpers.InfElemRefGroupInfElemRefsGroupEditHelperAdvice">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="DrlModelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.spbu.pldoctoolkit.graph.diagram.infproduct.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="DrlModelClientContext">
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.DocumentationCore_79"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElement_1001"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfProduct_1002"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroup_1003"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRef_3001"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.GenericDocumentPartGroups_3002"/>
         <elementType ref="org.spbu.pldoctoolkit.graph.diagram.infproduct.InfElemRefGroupInfElemRefsGroup_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension><extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider checkPluginLoaded="true"
         class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelValidationProvider">
         <Priority name="Lowest"/>
         <partContribution id="org.spbu.pldoctoolkit.graph.diagram.infproduct.part.DrlModelDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelMarkerNavigationProvider">
         <MarkerType name="org.spbu.pldoctoolkit.graph.diagram.infproduct.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>
<extension id="diagnostic" name="InfProduct Diagram Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>
   <!--
<extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.spbu.pldoctoolkit.graph.diagram.infproduct.providers.DrlModelShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>
	-->
</plugin>
